<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <title>اضافه کردن کتاب</title>
</head>
<body>
<div class="container" >
  <table class="table table-dark table-striped table-bordered">
<thead>
<tr class  ="bg-light">
        <th class="text-dark">نام</th>
        <th class="text-dark">نام خانوادگی</th>
        <th class="text-dark">شماره دانشجویی</th>
</tr>
</thead>
{% if keepers_list %}
<p>Found {{ keepers_list|length }} keeper{{ keepers_list|pluralize }}.</p>

<thead>
<tr>
{% for keeper in keepers_list %}
    <td><a  href="{{ link }}{{ keeper.id }}" class = "text-success" > {{ keeper.keeper_first_name }} </a></td>
    <td>{{ keeper.keeper_last_name }}</td>
<td>{{ keeper.keeper_id }}</td>

</tr>
{% endfor %}

{% else %}
<p>No books matched your search criteria.</p>
{% endif %}
</thead>
  </table>
</div>
</body>
</html>