
{%  extends "base.html" %}

 {%  block form %}
  <table class="table table-dark table-striped table-bordered">
<thead>
<tr class  ="bg-light">
        <th class="text-dark">نام</th>
        <th class="text-dark">نام خانوادگی</th>
        <th class="text-dark">شماره دانشجویی</th>
            <th class="text-dark">نام کتاب</th>

</tr>
</thead>
{% if keepers_list %}

<thead>
<tr>
{% for keeper in keepers_list %}
    <td><a  href="{{ link }}{{ keeper.id }}" class = "text-success" > {{ keeper.keeper_first_name }} </a></td>
    <td>{{ keeper.keeper_last_name }}</td>
<td>{{ keeper.keeper_id }}</td>
    <td>{{ keeper.book_name }}</td>


</tr>
{% endfor %}

{% else %}
<p>No books matched your search criteria.</p>
{% endif %}
</thead>
  </table>

{% endblock%}